.receivedValues {
    display: flex;
    flex: 3;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    margin-top: 40px;
    background-color: rgba(255,255,255,0.4);
    border-radius: 10px;
    box-shadow: 0.2px 0.2px 10px rgba(0,0,0,0.2);
}
